doctype html
html
  head
    title The Children&apos;s Journey | Day Care
    meta(name='description', content='The Children’s Journey is a ministry of the Journey Fellowship. We are a non-profit, non-discriminatory, service organization.')
    meta(property='og:url', content='http://www.thechildrensjourney.org')
    meta(property='og:type', content='website')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
