body
  header
    .header
      .navBar
      .container.logoContainer
        .logo
          h1
            a(href='/')
              | The Children's Journey
      nav
        .navContainer.container
          .menu-button
          include navbar.pug
