.sidebar.classroom
  h2
    | Classrooms
  |
  ul
    li
      | Infants
    |
    li
      | Toddlers
    |
    li
      | Preschool/Pre-Kindergarten
    |
    li
      | School Age
.sidebar.address
  h2
    | Address
  |
  p
    | 600 Alton Ave.
    br
    |      Reading, PA 19605
    br
    |      610-334-8741
.sidebar.hours
  h2
    | Hours
  |
  p
    | Monday-Friday
    br
    |      6:30am - 6:00pm
// End Sidebar
