include layout/head.pug

- var page = 'about'

body
  header
    .header
      .navBar
      .container.logoContainer
        .logo
          include components/logo
      nav
        .navContainer.container
          .menu-button
          include components/navbar

  .mainImage
    .container
      img(src='/images/about_photo.jpg', alt='Home Image')
  .sectionDivider
  .container
    .allContent
      .mainContent
        article
          .sectionContent.mainHeader
            h1 About Us
          .sectionContent
            img(src='/images/objectives.jpg', alt='Objectives')

      include components/sidebar
