include layout/head.pug
include components/header.pug

- var page = 'about'

.mainImage
  .container
    img(src='/images/about_photo.jpg', alt='Home Image')
.sectionDivider
.container
  .allContent
    .mainContent
      article
        .sectionContent.mainHeader
          h1 About Us
        .sectionContent
          img(src='/images/objectives.jpg', alt='Objectives')
