include layout/head.pug

- var page = 'handbook'

body
  header
    .header
      .navBar
      .container.logoContainer
        .logo
          include components/logo
      nav
        .navContainer.container
          .menu-button
          include components/navbar

  .mainImage
    .container
      img(src='/images/handbook_photo.jpg', alt='Home Image')
  .sectionDivider
  .container
    .allContent
      .mainContent
        article
          .sectionContent.mainHeader
            h1 Parent Handbook
          |
          .sectionContent
            div(align='center')
              img(src='/images/handbook_img.png', width='139', height='153')
            |
            |
            h2 WELCOME!!
            |
            p
              | Welcome to the Children&apos;s Journey!  We are grateful that you have entrusted your child to our care.  We look forward to being a part of your child&apos;s growth, development and early education. Thank you for allowing us to be a part of this wonderful process! The Children&apos;s Journey is a ministry of the Journey Fellowship. We are a non-profit, non-discriminatory, service organization.
            |
            p
              a(href='/assets/parenthandbook12192009.pdf', target='_blank') View More...

      include components/sidebar
